<%- include('partials/head') %>
	<body>
		<header>
			<div>
			  <a href="index.html">
				<img src="../img/logo.png" alt="Logo de Solo Caps"></a>
		
			  <h1>Solo Caps</h1>
			</div>
			<nav>
			  <a class="activo" href="index.html">Inicio</a>
			  <a href="productos.html">Productos</a>
			  <a href="accesorios.html">Accesorios</a>
			  <a href="contacto.html">Contactenos</a>
			  <a href="listado.html">Listado</a>
			</nav>
			  
		
		  </header>

		  <main>
				<h2>Modificar Concepto</h2>
				<div id="concepto-modificar">
					<form action="/modificar?_metodo=PUT" method="POST" class="concepto-form">
												
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" value="<%= concepto.nombre %>">
					
						<label for="id_rubro">Rubro:</label>
						<select name="id_rubro" id="selectRubroForm">
							<option value="">Seleccione un Rubro</option>
							<% tiposProducto.forEach(tipo => { %>
								<option value="<%= tipo.id %>" <%= registro.id_rubro === rubro.id ? 'selected' : '' %>><%= rubro.nombre %></option>
							<% }) %>
						</select>
					
						<label for="tipo">Tipo:</label>
						<select id="tipo">
							<option value="ingreso" <%= concepto.tipo === 'ingreso' ? 'selected' : '' %>>Ingreso</option>
							<option value="egreso" <%= concepto.tipo === 'egreso' ? 'selected' : '' %>>Egreso</option>
						</select>
					
						<label for="requiere_vencimiento">Requiere vencimiento:</label>
						<input type="checkbox" id="requiere_vencimiento" <%= concepto.requiere_vencimiento ? 'checked' : '' %> >
						
						<input type="hidden" name="idMod" value="<%= registro.id %>"><br>
						<input type="submit" value="Actualizar" class="btn">
					</form>
					<div id="btn-cancelar">
						<a href="/conceptos.html" class="btn">Cancelar</a>
					</div>
				</div>

				
		  </main>


<%- include('partials/footer') %>