<%- include('./partials/head') %>
	<body>
		<header>
			<div>
			  <a href="/">
				<img src="/img/logo.png" alt="Logo de Solo Caps"></a>
		
			  <h1>Solo Caps</h1>
			</div>
			<nav>
				<a href="index.html">Inicio</a>
				<a href="dashboard.html" id="listado-link">Dashboard</a>
				<a href="gastos.html">Cargar Gastos</a>
				<a href="rubros.html">Rubros</a>
				<a class="activo" href="conceptos.html">Conceptos</a>
				<a href="listado_gastos.html">Listado de Gastos</a>
				<a href="login.html" style="display:none;">Log In</a>
				
				<a href="index.html">Logout</a>
			</nav>
			  
		
		</header>

		  <main>
				<h2>Modificar Concepto</h2>
				<div id="modificar">
					<form action="/conceptos/<%= registro.id %>?_metodo=PUT" method="POST">
						<input type="hidden" name="idMod" value="<%= registro.id %>">
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" name="nombre" value="<%= registro.nombre %>" required><br>
				
						<label for="rubro_id">Rubro:</label>
						<select id="rubro_id" name="rubro_id" required>
							<% rubros.forEach(rubro => { %>
								<option value="<%= rubro.id %>" <%= rubro.id === registro.rubro_id ? 'selected' : '' %>><%= rubro.nombre %></option>
							<% }); %>
						</select><br>
				
						<label for="tipo">Tipo:</label>
							<select id="tipo" name="tipo" required>
								<option value="Ingreso" <%= registro.tipo == 'Ingreso' ? 'selected' : '' %>>Ingreso</option>
								<option value="Egreso" <%= registro.tipo == 'Egreso' ? 'selected' : '' %>>Egreso</option>
							</select><br>
				
						<label for="requiere_vencimiento">Requiere Vencimiento:</label>
						<select id="requiere_vencimiento" name="requiere_vencimiento">
							<option value="0" <%= registro.requiere_vencimiento === 0 ? 'selected' : '' %>>No</option>
							<option value="1" <%= registro.requiere_vencimiento === 1 ? 'selected' : '' %>>Sí</option>
						</select><br>
				
						<button type="submit" class="btn">Actualizar</button>
					</form>
					<div id="btn-cancelar">
						<a href="/conceptos.html" class="btn">Cancelar</a>
					</div>
				</div>

				
		  </main>
		</body>

<%- include('./partials/footer') %>
<script src="/js/conceptos/conceptos.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const rubroIdSeleccionado = '<%= registro.rubro_id %>';
		cargarRubros(rubroIdSeleccionado);
	});
</script>